.home > img {
    margin: 20px 0;
}

.attribution {
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: right;
    font-size: 0.8rem;
}

.home > section {
    display: grid;
}

.home > section:nth-child(even) {
    grid-template-columns: 1fr 3fr;
}

.home > section:nth-child(even) > .content {
    text-align: right;
}

.home > section:nth-child(odd) > .header {
    text-align: right;
}

.home > section:nth-child(odd) {
    grid-template-columns: 3fr 1fr;
}

.home > section > * {
    padding: 0 10px;
}