#content > img {
    margin: 20px 0;
}

.attribution {
    margin-bottom: 20px;
    margin-right: 20px;
    text-align: right;
}

.home > section {
    display: grid;
    border-top: 1px solid gray;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px 0;
}

.home > section:nth-child(even) {
    grid-template-columns: 1fr 3fr;
}
.home > section:nth-child(odd) {
    grid-template-columns: 3fr 1fr;
}

.home > section > * {
    padding: 0 10px;
}

.home .header {
    font-weight: 900;
}