* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

@font-face {
    font-family: 'Rubik';
    src: url('assets/fonts/Rubik-LightItalic.woff2') format('woff2'),
        url('assets/fonts/Rubik-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('assets/fonts/Rubik-Light.woff2') format('woff2'),
        url('assets/fonts/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

button {
    font-family: inherit;
}

body {
    background-color: skyblue;
    font-family: "Rubik";
}

header {
    background-color: white;
    width: 100%;
    padding-top: 20px;
}

header h1 {
    text-align: center;
}

header button {
    flex: 1;
    background-color: white;
    border: 2px solid gray;
    padding: 20px;
    font-size: 1.2rem;
}

header button:hover {
    border: 2px solid black;
    background-color: rgb(220, 220, 220);
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#content {
    border: 2px solid black;
    background-color: white;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px 0;
    width: max(50vw, 320px);
}

#content > h2 {
    text-align: center;
    margin-bottom: 20px
}

#content .header {
    font-weight: 900;
    font-size: 1.3rem;
}

#content > section {
    border-top: 1px solid gray;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px 0;
}